@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  // font-family
  --outfit-font: "Outfit", sans-serif;

  // color
  --white: #fff;
  --grey: #7d889e;
  --light-grey: #d5e1ef;
  --dark-blue: #1f314f;
}
